doctype html
html
	head
		title SIPC115 codepen
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")
		meta(http-equiv="Cache-Control" content="no-siteapp")
		meta(name="keywords" content="SIPC115 codepen FE 前端代码交流平台 学生创新实践中心")
		meta(name="robots" content="index,follow")
		meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
		include ./includes/head
	body
		include ./includes/header
		block content